<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    

    
        <div class="box" id="heading">
            <h2>Day Finder </h2>
        </div>
  
    <div class="box">
        <div class="item">
            <form class="item" action="/" method="POST">
                <input type="text" name="number" placeholder="enter a number">
                <button type="submit" name="btn">+</button>
            </form>
        </div>

        <div class="items">
            <h2> <%= todayToDisp %> </h2>
        </div>
           
    </div>

    <div class="box">
        <div class="box" id="heading">
            <h2>About </h2>

            <p class="p">This is a simple application which will show u what would be the day 
                after the number of days you have enterd
            </p>
        </div>
    </div>
   
       
   

</body>
</html>